<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Week Warrior</title>
</head>
<body>
    <h1><%= dayType %></h1>
    <h2><%= advice %></h2>
    <div class="card">
    <img src="<%= pic %>">
    </div>

    <h2>Listen to Some Music:</h2>
    <audio controls>
        <source src="<%= musik %>" type="audio/mpeg"> <!-- Update the path to your audio file here -->
        Your browser does not support the audio element.
    </audio>

    <script>
        // Get the audio element
        const audioElement = document.createElement('audio');
        audioElement.id = 'audio-player';
        audioElement.src = '<%= musik %>'; // Update the path accordingly
    </script>

    <div>
        <p>© MF Doomsar <%= year %></p>
    </div>
</body>
</html>